* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 100%;
  text-align: center;
  background-color: rgb(201, 197, 197);
  min-width: 150px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 250px;
  padding-right: 100px;
}

.layoutP {
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
}

.layoutLink {
  text-decoration: none;
  padding-right: 15px;
}
