.todoItemWrapper {
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 700px;
  background-color: #cac6c6;
  border-radius: 9px;
  position: relative;
  height: 40px;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #070707;
  border: none;

  height: 2px;
}

.customP {
  padding-top: 5px;
  display: block;
  width: 450px;
  text-align: left;
  word-break: break-all;
}
.customInput {
  padding: 5px;
  border-radius: 9px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(233, 235, 235);
  transition: 0.3s all ease;
}

.customInput:hover {
  background-color: #fff;
}

.hiddenInput {
  display: none;
}

.buttonsBlock {
  display: flex;
  gap: 10px;
}
