.todoPageWrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 40px;
    padding-left: 15px;
    max-width: 400px;
    min-height: 400px;
    border-radius: 9px;
    border: 2px solid rgb(46, 39, 39);
    
    
    
    gap:10px;
    max-width: 300 px;
    background-color: #7e7979;
}


  
